<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <!-- 권한 그룹 -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".util.webrtc.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".activity.game.WebViewTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.game.RhythmGameResultActivity"
            android:exported="false" />
        <activity
            android:name=".AddFriendActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterOrNotActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RecordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.game.RhythmGameSelectActivity"
            android:exported="false" />
        <activity
            android:name=".activity.game.RhythmGameStartActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".GameoptionActivity"
            android:exported="false" />
        <activity
            android:name=".MethodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VariousGameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RecordsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.game.GameStartActivity"
            android:exported="true" />
        <activity
            android:name=".activity.game.DoggyActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".multiUi.LoginActivity"
            android:exported="true"/>
        <activity android:name=".multiUi.MultiActivity"
            android:exported="true"/>
        <activity android:name=".multiUi.CallActivity"
            android:exported="true"/>
        <activity android:name=".multiUi.CloseActivity"
            android:exported="true"/>
        <activity android:name=".InstallActivity"
            android:exported="true"/>
        <receiver android:name=".service.MainServiceReceiver"/>
        <service android:name=".service.MainService"
            android:foregroundServiceType="mediaProjection"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.Myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>