<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"> <!-- 문자 인코딩 설정 -->
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인</h1>
<form action="#" th:action="@{/login}" method="post">
    <label for="username">아이디:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="token">토큰:</label>
    <input type="text" id="token" name="token" required><br>

    <button type="submit">로그인</button>
</form>

<div th:if="${param.error}">
    <p style="color:red;">로그인 실패. 사용자 이름 또는 토큰을 확인하세요.</p>
</div>
</body>
</html>
