<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Upload</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<form action="/admin/music/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Title" required />
    <input type="text" name="artist" placeholder="Artist" required />
    <input type="text" name="duration" placeholder="Duration" required />
    <input type="file" name="file" accept=".mp3" required />
    <button type="submit">Upload Music</button>
</form>
</body>
</html>