<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Upload</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<form id="uploadForm" th:action="@{/admin/upload}" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Title" required />
    <input type="text" name="artist" placeholder="Artist" required />
    <input type="text" name="duration" placeholder="Duration" required />
    <input type="file" name="file" accept=".mp3" required />
    <input type="hidden" id="hiddenToken" name="token" th:value="${token}" />
    <button type="submit">Upload Music</button>
</form>

<script>
    document.getElementById("uploadForm").addEventListener("submit", function(event) {
        event.preventDefault();  // 기본 폼 제출 방지
    
        // 폼 데이터 가져오기
        const formData = new FormData(event.target);
        
        // token을 헤더에 추가
        const token = document.getElementById("hiddenToken").value;  // token 값을 숨겨진 input 필드에서 가져옵니다.
        console.log(token);
        console.log("hello world")
        // AJAX 요청을 보내는 부분
        fetch("/admin/upload", {
            method: "POST",
            headers: {
                "Authorization": "Bearer "+ token  // 헤더에 Authorization에 토큰 추가
            },
            body: formData  // FormData 객체를 그대로 전송 (파일 포함)
        })
        .then(response => response.json())
        .then(data => {
            console.log("Success:", data);
            event.target.reset();
            alert("음악 업로드 성공")
        })
        .catch(error => {
            console.error("Error:", error);
            alert("업로드 실패")
        });
    });
</script>

</body>
</html>
