*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/.name
.idea/encodings.xml
.idea/usage.statistics.xml
.idea/dictionaries

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/secret.properties